html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background: linear-gradient(125deg, #2c3e50, #8e44ad, #149966, #0a4087, #672f7e);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;
    text-align: center;
}

body * {
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

@keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

h1,
h2 {
    color: white;
}

nav {
    height: 0;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
    width: 90px;
    text-align: center;
}


/*导航栏的字体*/

nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 70px;
}

.nav-box {
    position: absolute;
    left: 0;
    width: 90px;
    height: 7px;
    border-radius: 2px;
    transition: 0.5s;
}

nav ul li:nth-child(2):hover~.nav-box {
    left: calc(100% - 180px);
    background-color: #fff
}

nav ul li:nth-child(3):hover~.nav-box {
    left: calc(100% - 270px);
    background-color: #fff
}

nav ul li:nth-child(4):hover~.nav-box {
    left: calc(100% - 360px);
    background-color: #fff
}

nav ul li:nth-child(5):hover~.nav-box {
    left: calc(100% - 450px);
    background-color: #fff
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.touristList {
    color: #DDD;
    margin: 10;
}

.touristList h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.touristList td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.touristList {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.touristList td,
.touristList th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


/* Background-color of the odd rows */

.touristList tr:nth-child(odd) {
    background-color: #323C50;
}


/* Background-color of the even rows */

.touristList tr:nth-child(even) {
    background-color: #2C3446;
}

.touristList th {
    background-color: #1F2739;
}

.touristList td:first-child {
    color: #FB667A;
}

.touristList tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.touristList td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .touristList td:nth-child(4),
    .touristList th:nth-child(4) {
        display: none;
    }
}

.big {
    font-size: 1.2em;
}

.small {
    font-size: .7em;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}


/* Custom dropdown */

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    /* demo only */
}

.custom-dropdown select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
    background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
    color: rgba(0, 0, 0, .4);
}

.submit {
    background-color: #1abc9c;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.location {
    background-color: #1abc9c;
    color: white;
    padding: 3px;
    border-radius: 3px;
}